<!DOCTYPE html PUBLIC "-//W3C//DTD XhtmlL 1.0 Transitional//EN" "http://www.w3.org/TR/xhtmll1/DTD/xhtmll1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtmll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>{dede:global.cfg_webname/}</title>
    <meta name="keywords" content="{dede:global.cfg_keywords/}">
    <meta name="description" content="{dede:global.cfg_description/}">
    <link type="text/css" rel="stylesheet" href="__INDEX__/main.css">
    <link type="text/css" rel="stylesheet" href="__INDEX__/comm.css">
    <link type="text/css" rel="stylesheet" href="__INDEX__/style1.css">
    <link type="text/css" rel="stylesheet" href="__INDEX__/main(1).css">
    <link type="text/css" rel="stylesheet" href="__INDEX__/comm(1).css">
    <link type="text/css" rel="stylesheet" href="__INDEX__/style1(1).css">    
    <script src="__INDEX__/jq.1.11.js"></script>
    <script src="__INDEX__/jq.1.11(1).js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6e1b90dc9d6dc85cb7b122c3624072ca";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body style="padding-bottom: 0px;">
{include file="../application/index/view/head.html"/}
<div class="banner01" style="display: block; height:527px; position: relative;width: 100%;overflow: hidden;"><img alt="鹿角巷奶茶加盟" src="__INDEX__/banner.jpg" style="position: absolute; margin-left: -960px; width: 1920px; left: 50%;"></div><div class="Iabout wmain">
    <div class="I_T yh">关于鹿角巷</div>
    <div class="Iabout_l fl yh"><img alt="鹿角巷奶茶加盟" src="__INDEX__/ljx.jpg" width='438' height='240'>
        <p>鹿角巷</p>
    </div>
    <div class="Iabout_r fr yh">                
        {dede:type typeid='1'}
        [field:global.cfg_about/]
        <p><a href="[field:typeurl/]" target="_blank" title="了解更多鹿角巷奶茶" style="float:right">了解更多</a></p>
        {/dede:type}
    </div>
    <div class="clear"> </div>
</div>

<div class="I_product">
    <div class="wmain yh">
        <div class="I_T2 fl">
            <h2><a href="javascript:;" style="display:block; color:#fff;" target="_blank">The Alley鹿角巷</a></h2>
            <p><a href="javascript:;" style="display:block; color:#fff;" target="_blank">饮品美学指标品牌</a>
            </p>
            {dede:type typeid='4'}
            <a class="my_more" href="[field:typeurl/]" target="_blank">更多鹿角巷产品</a>
            {/dede:type}
        </div>
        <div class="C fr">
            <ul>
                {dede:arclist row='6' typeid='4'}
                <li>
                    <a href="[field:arcurl/]" target="_blank" title="[field:title/]"><img src="[field:picname/]" width="240" height="198" alt="[field:title/]">
                        <p>[field:title/]</p>
                    </a>
                </li>
                {/dede:arclist}
            </ul>
        </div>
    </div>
</div>


<div class="I_T yh pol wmain" style="margin-top:60px; width:944px;"> 新闻资讯
    {dede:type typeid='3'}
    <span style="float:right"><a href="[field:typeurl/]" target="_blank" title="[field:title/]">更多>></a></span>
    {/dede:type}
</div>

<div class="line"></div>


<div class="wmain news_main">     
    <div class="new_banner fl">
            {dede:arclist row='1' flag='c' typeid='3'}
            <div class="pic">
                <a href="[field:arcurl/]" target="_blank">
                    <img src="[field:picname/]" width="392" height="331">
                </a>
            </div>
            <div style="background: #2d2d2d;padding-left: 10px; color: #fff; font-size: 14px; height: 40px;line-height: 40px;">                
                <a target="_blank" href="[field:arcurl/]" style="color:#fff;">[field:title/]</a>               
            </div>
            {/dede:arclist}
    </div>
                                                                                                                                                                                            
    {dede:arclist row='4' typeid='3'}
    <div class="I_news yh fr">
        <ul class="newsli02" style='overflow:hidden;'>
            <li>
                <div class="my_img fl"><a target="_blank" href="[field:arcurl/]" title="[field:fulltitle/]">
                    <img src="[field:picname/]" width="71" height="50" alt="[field:fulltitle/]"></a>
                </div>
                <div class="my_word fr">
                    <h3><a target="_blank" href="[field:arcurl/]">[field:fulltitle/]</a></h3>
                    <p>[field:description/]</p>
                </div>
                <div class="clear"></div>
            </li>

        </ul>
    </div>
    {/dede:arclist}
    <div class="clear"></div>
</div>


<div class="I_T yh pol wmain" style="margin-top:60px; width:944px;">鹿角巷门店
    {dede:type typeid='2'}
    <span style="float:right"><a href="[field:typeurl/]" target="_blank" title="[field:arcurl/]">更多>></a></span></div>
    {/dede:type}
<div class="line"></div>
<div class="Idmfc wmain yh" style="margin-top:10px;">
    <ul>
        {dede:arclist typeid='2' row='6'}
        <li>
            <a href="[field:arcurl/]" target="_blank">
                <img src="[field:picname/]" width="323" height="220" alt="[field:title/]">
                <p>[field:title/]</p>
            </a>
        </li>
        {/dede:arclist}
    </ul>
    <div class="clear"></div>
</div>
<div class="line" style="margin-top:50px;"></div>
<section>
    <div class="liuyan">
        <h2>如果您对鹿角巷感兴趣,请<span style="font-size:48px;  color: #f0ff00;">留言</span>咨询！</h2>
              {dede:include filename='message.htm'/}
        <div style="clear:both"></div>
    </div>

</section>

   <script type="text/javascript">
                
function checkForm(){
        if($('#name').val()==null || $('#name').val()==''){
            $('#name').css("border","1px solid red");
            alert("请输入您的姓名!");
            var namecheck = false;
            return false;
        }else{
            $('#name').css("border","1px solid green");
            var namecheck = true;
        }
        if($("#phone").val()==null || $("#phone").val()==""){
            $("#phone").css("border","1px solid red");
            alert("请输入您的电话!");
            var phonecheck = false;
            return false;
        }else{

            if(!(/^1[34578]\d{9}$/.test($("#phone").val()))){
                $("#phone").css("border","1px solid red");
                alert("请输入正确的电话!");
                var phonecheck = false;
                return false;
            }else{
                $("#phone").css("border","1px solid green");
                var phonecheck = true;
            }           
        }
        if(namecheck==true && phonecheck==true){
            alert("提交成功!");
            return true;
        }else{
            return false;
        }
}
            </script>


{include file="../application/index/view/footer.html"/}



<div class="my-btns" style="display: none;">
  <img class="my-btn-close" src="__INDEX__/btn-close.png" alt="">
  <form action="http://login.manwei99.com/formguide/" onsubmit="return checkForm3()" method="post">
    <ul class="my-content clearfix">
      <li class="my-txt">立即咨询，迈向成功的第一步！</li>
      <li class="my-phone-img"><img src="__INDEX__/phone.png" alt=""></li>
      <li class="my-btn-last clearfix">
        <input id="names" type="text" name="info[name]" placeholder="请输入您的姓名">
        <input id="phones" type="text" name="info[phone]" placeholder="请输入您的电话">
        <input type="submit" name="dosubmit" id="dosubmit" class="my-button" value="立即留言">
        <input type="hidden" name="info[web]" value="">
        <input type="hidden" name="info[modelid]" value="14">
      </li>
    </ul>
  </form>
</div>
<script src="__INDEX__/mark_adv.js"></script>




<script type="text/javascript">

    //表单验证
    function checkForm3(){
      var names = document.getElementById('names').value;
      var phones = document.getElementById('phones').value;
      if (!names) {
        alert('姓名不能为空！')
        return false;
      }
      if(!(/^1(3|4|5|7|8)\d{9}$/.test(phones))){ 
          alert("手机号码有误，请重填");  
          return false; 
      }
      else{
        alert('提交成功！')
        return true;
      }
    }

    //关闭框点击
    $('.my-btn-close').click(function(){
      $('.my-btns').hide();
      $('body').css('padding-bottom','0px');
      var nowTime = new Date().getTime();   //获取当前点击时间
      var futureTime = nowTime+1000*60*60*24; //设置24小时后时间
      localStorage.futureTime = futureTime;  //本地存储
    })


    var thisTime = new Date().getTime();  //获取当前页面加载时间
    var thisFutureTime = localStorage.futureTime;  //获取本地存储时间
    console.log(thisFutureTime);
    if (thisFutureTime) {
        $('.my-btns').hide();
        $('body').css('padding-bottom','0px');
        if (thisTime >= thisFutureTime) {
        $('.my-btns').show();
        $('body').css('padding-bottom','51px');
      }
    }
</script>

<script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10172377/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>