<div class="head">
    <div class="wmain">
        <h1>        <div class="logo fl">
            <a href="{dede:global.cfg_indexurl/}"><img src="__INDEX__/logo.png" alt="上海鹿角巷奶茶官网"></a>
        </div></h1>        <div class="head_r yh fr">
            <div class="nav">
                <ul>
                    
                    <li>
                        <a href="{dede:global.cfg_indexurl/}" class="nav_first">首页</a>
                    </li>
                    
                    {dede:channel type='top'}
                    <li><a class="nav_first" href="[field:typeurl/]">[field:typename/]</a></li>
                    {/dede:channel}                 
                </ul>
            </div>
        </div>
    </div>
</div>